body {
  background-color: #f2f2f2;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 20px;
}

h1{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

h6{
  font-size: 21px;
  color: #5fa8a2;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

bwq {
  line-height: 37px;
}

.centered {
    text-align: center;
}


a {
  color: #1CBCAD;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.header {
  background: #1CBCAD;
  background: url(../images/af_may.jpg) no-repeat center top;
  filter: grayscale(100%);
  padding-top:70px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 50px;
  color: black;
  text-align: left;
  font-weight: lighter;
}

.header h3 {
  font-size: 20px;
  color: black;
  text-align: left;
  padding-top: 0px;
}

.header h3 a {
  color:
  black;
}

.about {
  background: #313135;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.about h5, p {
  color: white;
}

.about k {
  font-size: 17px;
  font-weight: lighter;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer {
  background: #313135;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  font-size: 25px;
  color: #d1c068;
}

.header i {
  padding-right: 8px;
  font-size: 25px;
  color: black;
  align-items: left;
}


.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #505660;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #d1c068;
  border-radius: 26px;
}

.desc more {
  color: #616669;
}

img.resize {
  width: 30%;
  height: 20%;
  border-radius: 70%;
  filter: grayscale(100%);
}

.navbar-custom {
  background-color: #3a4e56;
  border-color: transparent;
}

.navbar-custom .navbar-toggle {
  background-color: ##313135;
  border-color: ##313135;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #d1c068;
  outline: none;
}

.navbar-custom .nav li a {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

sm {
  font-size: 12px;

}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.container .row p.tight {
  margin-bottom: 10px;
}

/* define some CSS3 animations: */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* 1 */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  }
